<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="WPFTextBoxAutoComplete" version="1.0.2" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
</packages>